<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Shop</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">111111</property>
        <property name="show_sql">true</property>

        <mapping class="com.example.Shop.tables.Client"/>
        <mapping class="com.example.Shop.tables.Good"/>
        <mapping class="com.example.Shop.tables.GoodBought"/>
        <mapping class="com.example.Shop.tables.TableRequest"/>


    </session-factory>

</hibernate-configuration>
