<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Клиенты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div th:insert="fragments :: navbar"> </div>
    <div class="indent">
        <h3>Наши клиенты:</h3>
        <p>
            <h5 th:if="${clients == null}">Пока никого нет:(</h5>
            <div th:each="client, iter: ${clients}">
                <a th:href="'/client?clientId=' + ${client.getClient_id()}">
                    <span th:text="${client.getLogin()} + ${!iter.last ? ';' : ''}"></span>
                </a>
                </br>
            </div>
        </p>
    </div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-left: 30px" method="get" action="/editClient">
                <button style="color: black" id="editButton" type="submit" class="btn btn-secondary bg-warning"><b>Добавить</b></button>
            </form>
    </div>
    <div th:insert="fragments :: script"> </div>

</body>
</html>