<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>

    <script>
        function func() {
            var adr= '/saveGood?goodId='+document.getElementById("f_goodId").value +
                '&manufacturer='+document.getElementById("f_manufacturer").value +
                '&model='+document.getElementById("f_model").value +
                '&kind='+document.getElementById("f_kind").value +
                '&chars='+document.getElementById("f_chars").value +
                '&price='+document.getElementById("f_price").value +
                '&in_stock='+document.getElementById("f_in_stock").value +
                '&country='+document.getElementById("f_country").value
            window.location.href=encodeURI(adr);

            }
    </script>
    <title></title>
</head>

<body>

<div th:insert="fragments :: navbar"> </div>

<div class="indent">

    <p id="goodInfo">
        <p> ID: <input type="text" id="f_goodId" th:value="${good.getGood_id()}" /></p>
        <p> Изготовитель: <input type="text" id="f_manufacturer" th:value="${good.getManufacturer()}" /></p>
        <p> Тип товара: <input type="text" id="f_kind" th:value="${good.getKind()}" /></p>
        <p> Модель: <input type="text" id="f_model" th:value="${good.getModel()}" /></p>
        <p> Страна: <input type="text" id="f_country" th:value="${good.getCountry()}" /></p>
        <p> Наличие: <input type="text" id="f_in_stock" th:value="${good.getIn_stock()}" /></p>
        <p> Прочие характеристики: <input type="text" id="f_chars" th:value="${good.getChars()}" /></p>
        <p> Цена: <input type="text" id="f_price" th:value="${good.getPrice()}" /></p>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <form style="margin-left: 30px" method="get" >
            <button style="color: black" id="saveButton" onClick="func(); return false;" href="fallback.html" class="btn btn-secondary bg-warning"><b>Сохранить</b></button>
        </form>
    </div>
</div>

</div>

</body>
</html>