<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ошибка!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
    <title></title>
</head>

    <div th:insert="fragments :: navbar"></div>
    <h1 style="text-align: center"><br>О НЕТ!!!<br>ЧТО-ТО ПОШЛО НЕ ТАК<br>⊙﹏⊙</h1>
    <div th:insert="fragments :: script"> </div>
</body>

</html>