<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
    <title></title>
</head>
<body>

<!--page header-->
<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-warning" style="font-size: 0.8rem">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>TECH</b>shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" id="b_allClients" href="/allClients">Страницы клиентов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="b_allRequests" href="/allRequests">Заказы</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="/allGoods" data-toggle="dropdown" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Каталог</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" id="d_b_Кофеварки" href="/allGoods?kind=Кофеварка">Кофеварки</a></li>
                        <li><a class="dropdown-item" id="d_b_Мультиварки" href="/allGoods?kind=Мультиварка">Мультиварки</a></li>
                        <li><a class="dropdown-item" id="d_b_Посудомоечные машины" href="/allGoods?kind=Посудомоечная машина">Посудомоечные машины</a></li>
                        <li><a class="dropdown-item" id="d_b_Холодильники" href="/allGoods?kind=Холодильник">Холодильники</a></li>
                        <li><a class="dropdown-item" id="d_b_Фены" href="/allGoods?kind=Фен">Фены</a></li>
                        <li><a class="dropdown-item" id="d_b_Утюги" href="/allGoods?kind=Утюг">Утюги</a></li>
                        <li><a class="dropdown-item" id="d_b_Соковыжималки" href="/allGoods?kind=Соковыжималка">Соковыжималки</a></li>
                        <li><a class="dropdown-item" id="d_b_Чайники" href="/allGoods?kind=Электрический чайник">Чайники</a></li>
                        <li><a class="dropdown-item" id="d_b_Мясорубки" href="/allGoods?kind=Мясорубка">Мясорубки</a></li>
                        <li><a class="dropdown-item" id="d_b_Микроволновые печи" href="/allGoods?kind=Микроволновая печь">Микроволновые печи</a></li>
                        <li><a class="dropdown-item" id="d_b_Миксер" href="/allGoods?kind=Миксер">Миксеры</a></li>
                        <li><a class="dropdown-item" id="d_b_Электроплиты" href="/allGoods?kind=Электрическая плита">Электроплиты</a></li>
                        <li><a class="dropdown-item" id="d_b_Телевизоры" href="/allGoods?kind=Телевизор">Телевизоры</a></li>
                        <li><a class="dropdown-item" id="d_b_Пылесосы" href="/allGoods?kind=Пылесос">Пылесосы</a></li>
                        <li><a class="dropdown-item" id="d_b_Вентиляторы" href="/allGoods?kind=Вентилятор">Вентиляторы</a></li>
                        <li><a class="dropdown-item" id="d_b_Стиральные машины" href="/allGoods?kind=Стиральная машина">Стиральные машины</a></li>
                        <li><a class="dropdown-item" id="d_b_Видеокарты" href="/allGoods?kind=Видеокарта">Видеокарты</a></li>
                        <li><a class="dropdown-item" id="d_b_Игровые приставки" href="/allGoods?kind=Приставка">Игровые приставки</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><b><a style="font-weight: bold" class="dropdown-item"  id="b_allGoods" href="/allGoods">Все товары</a></b></li>
                    </ul>
                </li>
            </ul>
            <!--<form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Поиск по сайту" aria-label="Найти">
                <button class="btn btn-outline-success btn-dark btn-outline-warning" type="submit">Search</button>
            </form>-->
        </div>
    </div>
</nav>
</div>
<!--end of page header-->

<div th:fragment="script">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="../bootstrap.bundle.min.js"></script>
</div>

</body>
</html>